<footer>
    <div class="d-flex justify-content-center">
      <p class="text-center text-white pt-4">Copyright © 2022</p>
    </div>
  </footer>
</div>
<script src="/home/vendors/jquery/jquery.min.js"></script>
<script src="/home/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/home/vendors/owl-carousel/js/owl.carousel.min.js"></script>
<script src="/home/vendors/aos/js/aos.js"></script>
<script src="/home/js/landingpage.js"></script>
</body>
</html>